* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    /*opacity: 0.9;*/
    text-align: center;
}

body {
    margin: 0;
}

#logo {
    height: 50px;
}

header {
    position: fixed;
    box-sizing: border-box;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 999;
}

nav {
    display: flex;
    margin: 10px;
}

nav ul {
    margin: auto 0 auto auto;
    display: flex;
}

nav li {
    display: inline;
    text-decoration: underline;
    margin: 10px;
}

main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div {
    background-position: center;
    background-repeat: no-repeat;
}




#mission {
    height: 700px;
    width: 1200px;
    background-image: url("./images/img-mission-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#featured {
    width: 1000px;
}

figure {
    margin: 20px 0 20px 0;
}

#featured img {
    display: block;
    height: 200px;
    width: 300px;
    margin: 0;
    
}


#featured-teas figure {
    display: inline-block;
}

figcaption {
    margin-top: 0px;
    display: block;
    line-height: 0.8em;
    margin-top: 10px;
}


#locations {
    height: 500px;
    width: 1200px;
    margin-bottom: 10px;
    background-image: url("./images/img-locations-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#locations h2 {
    opacity: 1;
}

#locationDivs {
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background: none;
}

.location-box {
    width: 300px;
    opacity: 1.0;
    z-index: 99;
}

footer {
    font-weight: bold;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

#copyright {
    margin-left: 20px;
    text-align: left;
}